body {
  height: 100%;
  overflow: scroll;
}

.App {
  text-align: center;
  overflow: scroll;
  height: 100%;

  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* input:focus {
  outline: none !important;
  border:3px solid #008CBA;
  box-shadow: 0 0 10px #719ECE;
} */
.myButton {
  margin-top: 1em;
  background-color: #008cba;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 20px;
  border: 2px solid blue;
  transition-duration: 0.4s;
  background-color: white;
}
.myButton:hover {
  background-color: #008cba; /* Green */
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.noJobMessage {
  font-size: 32px;
  color: red;
  margin: auto;
  width: 50%;
  padding: 25px;
  text-align: center;
  font-weight: 600;
}
.jobListItem {
  padding-top: 70px;
}
.link {
  font-size: 16px;
  width: 100%;
  float: left;
  clear: left;
  padding-bottom: 20px;
  color: #005572;
}

.link:hover {
  color: red;
}

.H1Link {
  font-size: 22px;
  width: 100%;
  float: left;
  clear: left;
  padding-bottom: 20px;
  color: #008cba;
}
.H1Link:hover {
  color: red;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 500px;
}

.App-link {
  color: #61dafb;
}

.jobFinder {
  margin-top: 10em;
}
